@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/identity-form.css" />
<link rel="stylesheet" href="~/css/layout.css" />
<partial name="_NavbarPartial" />
<section class="main-section">
    <div class="container login-container" data-aos="fade-left" data-aos-delay="100">
        <h2 class="login-title">Log in</h2>

        <form class="login-form" method="post">
            <div role="list" id="validationSummary" asp-validation-summary="All" class="text-danger" hidden></div>
            <div class="form-group">
                <div class="active-form">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="active-form">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" type="checkbox" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <button class="btn btn--form" type="submit" value="Log in">
                Log in
            </button>

            @*<div class="form-group">
                <p>
                    <a id="forgot-password" class="hover-link" asp-page="./ForgotPassword">Forgot password?</a>
                </p>
                <p>
                    <a class="hover-link" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Don't have an account? Register now!</a>
                </p>
            </div>*@
        </form>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}