@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Ограничен достъп";
}

<div class="ad-info">
    <img src="~/assets/bg.jpg" alt="Background" class="bg" />
    <section class="front-panel">
       <h1>Нямате достъп до тази страница!</h1>
    </section>
</div>
