@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied!";
}
<partial name="_NavbarPartial" />
<div class="ad-info">
    <img src="~/assets/bg.jpg" alt="Background" class="bg" />
    <section class="front-panel">
       <h1>Access denied!</h1>
    </section>
</div>
