@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<link rel="stylesheet" href="~/css/loginRegisterStyle.css" />

<section class="front-panel">
    <form class="account" method="post">
        <h4>Влез в CinemaTic профила си!</h4>
        <hr class="section-line" />
        <div class="text-fields" id="inputs">
            <div id="validationSummary" asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="active-form">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="active-form">
                    <label asp-for="Input.Password">Парола</label>
                    <input asp-for="Input.Password" class="form-control" />
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" type="checkbox" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="nx-btn primary">Влез</button>
        </div>
        <div class="form-group">
            <p>
                <a id="forgot-password" class="hover-link" asp-page="./ForgotPassword">Забравена парола</a>
            </p>
            <p>
                <a class="hover-link" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Нямаш акаунт? Регистрирай се!</a>
            </p>
        </div>
    </form>
</section>
@*<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>*@
@*</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
