@model CinemaTic.ViewModels.Genres.DeleteGenreViewModel

<form asp-controller="Genres" asp-action="DeleteGenre" method="post" enctype="multipart/form-data" class="delete-cinema-form d-flex justify-content-center align-items-center">
   <div class="delete-text d-flex flex-column">
        <h5>Are you sure you want to delete this genre?</h5>
        <div class="form-group">
            <div class="active-form">
                <i class="fa-solid fa-film input-icon"></i>
                <span class="px-2">@Model.Name</span>
            </div>
        </div>
        <button class="app-content-headerButton" asp-controller="Genres" asp-action="DeleteGenre" asp-route-genreId="@Model.Id">Delete</button>
   </div>
</form>