@model CinemaTic.ViewModels.Genres.CreateGenreViewModel

<div class="col-md-4">
    <div class="create-form">
        <form id="create-form" asp-area="Owner" asp-controller="Genres" asp-action="Add" method="post" enctype="multipart/form-data" class="add-form">
            <div role="list" asp-validation-summary="None" class="text-danger"></div>
            <div class="form-group">
                <div class="active-form">
                    <i class="fa-solid fa-film input-icon"></i>
                    <input asp-for="Name" class="form-control form-style" placeholder="Genre's name" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button class="app-content-headerButton mt-5" type="submit">Add</button>
        </form>
    </div>
</div>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>