@model CinemaTic.ViewModels.Genres.EditGenreViewModel

<form asp-area="Owner" asp-controller="Genres" asp-action="Edit" method="post" enctype="multipart/form-data" class="edit-form">
    <input type="hidden" asp-for="Id" />
    <div role="list" asp-validation-summary="None" class="text-danger"></div>
    <div class="form-group">
        <div class="active-form">
            <i class="fa-solid fa-film input-icon"></i>
            <input asp-for="Name" class="form-control form-style" placeholder="Full name" />
        </div>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button class="app-content-headerButton mt-3" asp-area="Owner" asp-controller="Genres" asp-action="Edit">Edit genre</button>
</form>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>