<div class="container">
    <div class="row d-flex justify-content-between">

        <div class="col-lg-3 col-6 pb-2">
            <a class="navbar-brand mb-2" href="#">
                <img class="footer-logo" src="~/assets/footer-logo.png" />
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center">
            <ul class="site-footer-links">
                @if(!User.Identity.IsAuthenticated)
                {
                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Home</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#features" class="site-footer-link">Features</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#owner-why" class="site-footer-link">Why CinemaTic?</a>
                    </li>
                }
                else
                {
                    <li class="site-footer-link-item">
                        <a href="#cinemas" class="site-footer-link">Cinemas</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#tickets" class="site-footer-link">Tickets</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>