<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>@ViewData["Title"] - CinemaTic</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/reset.css" />
    <link href="~/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/css/layout.css" rel="stylesheet" asp-append-version="true" />
    <link rel="shortcut icon" href="~/img/favicon.ico" />
    @if (User.Identity.IsAuthenticated && !User.IsInRole("Customer"))
    {
        <link href="~/css/manage-dashboard.css" rel="stylesheet" />
    }
</head>
<body>
    <main>
        <div class="app-container">
            @if (User.Identity.IsAuthenticated && !User.IsInRole("Customer"))
            {
                <partial name="_ManageSidebarPartial" />
            }
            @RenderBody()
        </div>
    </main>
    @if (User.Identity.IsAuthenticated == false)
    {
        <footer class="site-footer section-padding">
            <partial name="_FooterPartial" />
        </footer>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.esm.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.esm.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/custom.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>