<div class="rating-container d-flex justify-content-center align-items-center">
    <div id="modal" role="dialog" aria-modal="true" aria-labelledby="add-review-header" class="edit-modal">
        <button class="close-btn" aria-label="close" title="Close">x</button>
        <div id="review-form-container">
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>