@{
    ViewData["Title"] = "Actors";
}
<link href="~/css/manage-dashboard.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/cards.css" />
<div class="app-content">
    <div class="app-content-header" id="cinemas">
        <h1 class="app-content-headerText">All actors</h1>
        <button class="mode-switch" title="Switch Theme">
            <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
                <defs></defs>
                <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
            </svg>
        </button>
        <form asp-controller="Actors" asp-action="AddActor" method="get">
            <button class="app-content-headerButton">Add an actor</button>
        </form>
    </div>
    <div class="app-content-actions">
        <form>
            <input id="search-bar" class="search-bar" placeholder="Search..." type="text">
        </form>
        <div class="app-content-actions-wrapper">
            <button class="action-button list active" title="List View">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6" /><line x1="8" y1="12" x2="21" y2="12" /><line x1="8" y1="18" x2="21" y2="18" /><line x1="3" y1="6" x2="3.01" y2="6" /><line x1="3" y1="12" x2="3.01" y2="12" /><line x1="3" y1="18" x2="3.01" y2="18" /></svg>
            </button>
            <button class="action-button grid" title="Grid View">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7" /><rect x="14" y="3" width="7" height="7" /><rect x="14" y="14" width="7" height="7" /><rect x="3" y="14" width="7" height="7" /></svg>
            </button>
        </div>
    </div>
    <div class="products-area-wrapper movies-wrapper tableView">
        <div class="products-header">
            <div class="cinema-cell image">
                Actor
                <button class="sort-button" id="name-sort-desc" title="Sort descending">
                    <i class="fa-solid fa-arrow-down"></i>
                </button>
                <button class="sort-button" id="name-sort" title="Sort ascending">
                    <i class="fa-solid fa-arrow-up"></i>
                </button>
            </div>
            <div class="cinema-cell status-cell">
                Date of birth
                <button class="sort-button" id="birthdate-sort-desc" title="Sort descending">
                    <i class="fa-solid fa-arrow-down"></i>
                </button>
                <button class="sort-button" id="birthdate-sort" title="Sort ascending">
                    <i class="fa-solid fa-arrow-up"></i>
                </button>
            </div>
            <div class="cinema-cell sales">
                Nationality
                <button class="sort-button" id="nationality-sort-desc" title="Sort descending">
                    <i class="fa-solid fa-arrow-down"></i>
                </button>
                <button class="sort-button" id="nationality-sort" title="Sort ascending">
                    <i class="fa-solid fa-arrow-up"></i>
                </button>
            </div>
            <div class="cinema-cell stock">
                Rating
                <button class="sort-button" id="rating-sort-desc" title="Sort descending">
                    <i class="fa-solid fa-arrow-down"></i>
                </button>
                <button class="sort-button" id="rating-sort" title="Sort ascending">
                    <i class="fa-solid fa-arrow-up"></i>
                </button>
            </div>
            <div class="cinema-cell stock">
                Movies
                <button class="sort-button" id="moviescount-sort-desc" title="Sort descending">
                    <i class="fa-solid fa-arrow-down"></i>
                </button>
                <button class="sort-button" id="moviescount-sort" title="Sort ascending">
                    <i class="fa-solid fa-arrow-up"></i>
                </button>
            </div>
        </div>
        <div class="results-container cinemas-grid" id="results-container">
        </div>
    </div>
</div>
<script src="~/js/dashboard.js"></script>
<script>
    var page = 1;
    window.onload = function () {
        getItems('Owner', 'Actors', 'QueryActors', page);
    };
    var search = document.getElementById("search-bar");
    var filterOptions = document.getElementById('filter-options');
    var activeSort = document.querySelector('.sort-button.selected');
    if (search) {
        let timeout = null;
        search.addEventListener("keyup", function () {
            clearTimeout(timeout);
            timeout = setTimeout(function () {
                getItems('Owner', 'Actors', 'QueryActors', null, search.value, (filterOptions ? filterOptions.value : null), (activeSort ? activeSort.id : null));
            }, 300);
        });
    }

    document.querySelectorAll(".sort-button").forEach(i => i.addEventListener('click', function () {
        var alreadyActive = document.querySelector('.sort-button.selected');
        if (alreadyActive) {
            alreadyActive.classList.remove("selected");
        }
        activeSort = i;
        i.classList.add("selected");
        getItems('Owner', 'Actors', 'QueryActors',null, (search ? search.value : null), (filterOptions ? filterOptions.value : null), i.id);
    }));
</script>