@model Cinema.ViewModels.Cinemas.OwnerStatisticsViewModel

@{
    ViewData["Title"] = "Owner dashboard";
}
<link href="~/css/manageStyle.css" rel="stylesheet" />
@*<partial name="_ManageSidebarPartial" />*@
<div class="app-content home-graphs">
    <div style="width: 50%;"><canvas id="marketShare"></canvas></div>
</div>
<script src="~/js/ownerdashboard.js"></script>
<script src="~/lib/chart.js/chart.umd.js"></script>
<script src="~/lib/chart.js/chart.umd.min.js"></script>
<script src="~/js/owner-charts.js"></script>