@model Cinema.ViewModels.Cinemas.OwnerStatisticsViewModel

@{
    ViewData["Title"] = "Owner dashboard";
}
<script>
    var data = @Html.Raw(Json.Serialize(Model));
    console.log(data);
</script>
<link href="~/css/ownerstyle.css" rel="stylesheet" />
<div class="app-container">
    <partial name="_OwnerSidebarPartial" />
    <div class="app-content home-graphs">
        <div style="width: 800px;"><canvas id="marketShare"></canvas></div>
    </div>
</div>
<script src="~/js/ownerdashboard.js"></script>
<script src="~/lib/chart.js/chart.umd.js"></script>
<script src="~/lib/chart.js/chart.umd.min.js"></script>
<script src="~/js/owner-charts.js"></script>