@model Cinema.ViewModels.Movies.DeleteMovieViewModel

<form asp-controller="Movies" asp-action="Delete" method="post" enctype="multipart/form-data" class="delete-cinema-form d-flex justify-content-center align-items-center">
    <div class="delete-text d-flex flex-column">
        <h5 style="color: white;">Are you sure you want to delete this movie?</h5>
        <div class="form-group">
            <div class="active-form">
                <i class="fa-solid fa-film input-icon"></i>
                <span class="text-white px-2">@Model.Name</span>
            </div>
        </div>
        <button class="app-content-headerButton" asp-controller="Movies" asp-action="Delete" asp-route-cinemaId="@Model.Id">Delete</button>
    </div>
    <div class="delete-image form-group mx-0">
        <img src="~/client-images/Movies/@Model.ImageUrl" />
    </div>
</form>
