@model Cinema.ViewModels.Movies.FilterMoviesViewModel

@{
    ViewData["Title"] = "Owner dashboard";
}
<link href="~/css/manageStyle.css" rel="stylesheet" />
<div class="app-content">
    <div class="app-content-header" id="cinemas">
        <h1 class="app-content-headerText">All movies</h1>
        <button class="mode-switch" title="Switch Theme">
            <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
                <defs></defs>
                <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
            </svg>
        </button>
        <form asp-controller="Movies" asp-action="Create" method="get">
            <button class="app-content-headerButton">Add a movie</button>
        </form>
    </div>
    <div class="app-content-actions">
        <form>
            <input id="search-bar" class="search-bar" placeholder="Search..." type="text">
        </form>
        <div class="app-content-actions-wrapper">
            <div class="filter-container">
                <div class="filter-button-wrapper">
                    <button class="action-button filter jsFilter"><span>Filter</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" /></svg></button>
                    <div class="filter-dropdown">
                        <div class="filter-menu">
                            <select id="filter-options" asp-items="@Model.Cinemas">
                                <option disabled selected>-Select a cinema-</option>
                                <option>All</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <button class="action-button list active" title="List View">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6" /><line x1="8" y1="12" x2="21" y2="12" /><line x1="8" y1="18" x2="21" y2="18" /><line x1="3" y1="6" x2="3.01" y2="6" /><line x1="3" y1="12" x2="3.01" y2="12" /><line x1="3" y1="18" x2="3.01" y2="18" /></svg>
            </button>
            <button class="action-button grid" title="Grid View">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7" /><rect x="14" y="3" width="7" height="7" /><rect x="14" y="14" width="7" height="7" /><rect x="3" y="14" width="7" height="7" /></svg>
            </button>
        </div>
    </div>
    <div class="products-area-wrapper movies-wrapper tableView">
        <div class="products-header">
            <div class="cinema-cell image">
                Movie
                <button class="sort-button" id="name-sort-desc" title="Sort descending">
                    <i class="fa-solid fa-arrow-down"></i>
                </button>
                <button class="sort-button" id="name-sort" title="Sort ascending">
                    <i class="fa-solid fa-arrow-up"></i>
                </button>
            </div>
            <div class="cinema-cell status-cell">
                Genre
                <button class="sort-button" id="genre-sort-desc" title="Sort descending">
                    <i class="fa-solid fa-arrow-down"></i>
                </button>
                <button class="sort-button" id="genre-sort" title="Sort ascending">
                    <i class="fa-solid fa-arrow-up"></i>
                </button>
            </div>
            <div class="cinema-cell sales">
                Average user rating
                <button class="sort-button" id="rating-sort-desc" title="Sort descending">
                    <i class="fa-solid fa-arrow-down"></i>
                </button>
                <button class="sort-button" id="rating-sort" title="Sort ascending">
                    <i class="fa-solid fa-arrow-up"></i>
                </button>
            </div>
            <div class="cinema-cell stock">
                Ratings count
                <button class="sort-button" id="ratingcount-sort-desc" title="Sort descending">
                    <i class="fa-solid fa-arrow-down"></i>
                </button>
                <button class="sort-button" id="ratingcount-sort" title="Sort ascending">
                    <i class="fa-solid fa-arrow-up"></i>
                </button>
            </div>
            <div class="cinema-cell stock">
                Added by
                <button class="sort-button" id="addedby-sort-desc" title="Sort descending">
                    <i class="fa-solid fa-arrow-down"></i>
                </button>
                <button class="sort-button" id="addedby-sort" title="Sort ascending">
                    <i class="fa-solid fa-arrow-up"></i>
                </button>
            </div>
        </div>
        <div class="results-container cinemas-grid" id="results-container">
        </div>
    </div>
</div>
<script src="~/js/ownerdashboard.js"></script>
<script>
    window.onload = function () {
        getItems('Movies', 'SearchAndFilterMovies');
    };
    var search = document.getElementById("search-bar");
    var filterOptions = document.getElementById('filter-options');
    var activeSort = document.querySelector('.sort-button.selected');
    if (search) {
        let timeout = null;
        search.addEventListener("keyup", function () {
            clearTimeout(timeout);
            timeout = setTimeout(function () {
                getItems('Movies', 'SearchAndFilterMovies', search.value, '', (filterOptions ? filterOptions.value : null), (activeSort ? activeSort.id : null));
            }, 300);
        });
    }

    filterOptions.addEventListener("change", function () {
        getItems('Movies', "SearchAndFilterMovies", (search ? search.value : null), '', filterOptions.value, (activeSort ? activeSort.id : null));
    });
    document.querySelectorAll(".sort-button").forEach(i => i.addEventListener('click', function () {
        var alreadyActive = document.querySelector('.sort-button.selected');
        if (alreadyActive) {
            alreadyActive.classList.remove("selected");
        }
        activeSort = i;
        i.classList.add("selected");
        getItems('Movies', 'SearchAndFilterMovies', (search ? search.value : null), '', (filterOptions ? filterOptions.value : null), i.id);
    }));
</script>