@model Cinema.ViewModels.Movies.CreateMovieViewModel

@{
    ViewData["Title"] = "Add a new movie";
}

<link href="~/css/loginRegisterStyle.css" rel="stylesheet" />
<section class="front-panel">
    <div class="row">
        <h1>Add a new movie</h1>
        <div class="col-md-4">
            <form class="account" asp-controller="Movies" asp-action="Create" enctype="multipart/form-data">
                <hr class="section-line" />
                <div class="text-fields">
                    <div role="list" asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                        </div>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="GenreId" class="control-label"></label>
                            <select asp-for="GenreId" asp-items="@ViewBag.Genres" name="genreId" class="form-control">
                                <option disabled selected value="">-Select a genre-</option>
                            </select>
                        </div>
                        <span asp-validation-for="GenreId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="active-form" style="align-items: flex-start;">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control t-area" rows="5" cols="10"></textarea>
                        </div>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="RunningTime" class="control-label"></label>
                            <input asp-for="RunningTime" class="form-control" />
                        </div>
                        <span asp-validation-for="RunningTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="TrailerUrl" class="control-label"></label>
                            <input asp-for="TrailerUrl" class="form-control" />
                        </div>
                        <span asp-validation-for="TrailerUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="Date" class="control-label"></label>
                            <input asp-for="Date" type="date" class="form-control" />
                        </div>
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                        </div>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="Actors" class="control-label"></label>
                            <select asp-for="Actors" name="acts" asp-items="ViewBag.Actors" class="form-control"></select>
                        </div>
                        <span asp-validation-for="Actors" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="Image"></label>
                            <input asp-for="Image" class="form-control" />
                        </div>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="nx-btn primary">Add</button>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
