@model Cinema.Models.Movie

@{
    ViewData["Title"] = "Delete";
}


<link href="~/css/adminStyle.css" rel="stylesheet" />
<link href="~/css/cardStyle.css" rel="stylesheet" />
<div class="moviesContainer flex-column front-panel">
    <h1>Сигурни ли сте, че искате да изтриете следния филм?</h1>
    <div class="owner-info">
        <p>Име: <b>@Model.BulgarianTitle</b></p>
        <p>Жанр: @Model.Genre.BulgarianName</p>
        <p>Среден потребителски рейтинг: @Model.UserRating / 10.0</p>
    </div>
    <form class="agreement-buttons" asp-controller="Movies" asp-action="Delete">
        <button type="submit" class="nx-btn green front-panel" asp-route-id="@Model.Id">Да</button>
        <a class="nx-btn" asp-controller="Movies" asp-action="Index">Не</a>
    </form>
</div>