@model Cinema.Models.ViewModels.StatisticsViewModel

@{
    ViewData["Title"] = "Статистика";
}

<link href="~/css/cardStyle.css" rel="stylesheet" />
<div class="moviesContainer flex-column front-panel statistics-table">
    <h1>Статистика</h1>
    <p>Брой продадени билети - @Model.TicketsSold</p>
    <p>Печалба - @Model.Income лв.</p>
    <p>
        Най-популярен филм -
        <a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.MostPopularMovie.Id">
            <b>@Model.MostPopularMovie.BulgarianTitle</b>
        </a>
    </p>
</div>