@model Cinema.Models.ViewModels.StatisticsViewModel

@{
    ViewData["Title"] = "Statistics";
}

<link href="~/css/cardStyle.css" rel="stylesheet" />
<div class="moviesContainer flex-column front-panel statistics-table">
    <h1>Statistics</h1>
    <p>Tickets sold - @Model.TicketsSold</p>
    <p>Income - $@Model.Income</p>
    <p>
        Most popular movie (by the amount of votes) -
        <a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.MostPopularMovie.Id">
            <b>@Model.MostPopularMovie.Title</b>
        </a>
    </p>
</div>