@model Cinema.ViewModels.Customers.CustomerHomePageViewModel

@{
    ViewData["Title"] = "Home";
}
<partial name="_NavbarPartial" />
<section class="main-section hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="row justify-content-center home-sections">
        @foreach (var item in Model.Cinemas)
        {
            <div class="cinema-section">
                <div class="custom-block custom-block-overlay">
                    <div class="d-flex flex-column h-100">
                        <img src="~/client-images/Cinemas/@item.ImageUrl" class="custom-block-image img-fluid" alt="">

                        <div class="h-100 custom-block-overlay-text d-flex flex-column justify-content-between">
                            <div>
                                <h5 class="text-white mb-2">@item.CinemaName</h5>

                                <p class="text-white">@item.Description</p>
                            </div>
                            <div class="user-buttons d-flex flex-row justify-content-around">
                                <a class="btn custom-btn mt-2 mt-lg-3" asp-controller="Owners" asp-action="Cinema" asp-route-cinemaId="@item.CinemaId">See your cinema's page</a>
                            </div>
                        </div>

                        <div class="section-overlay"></div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<style>
    section.main-section {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    div.cinema-section {
        width: 40%;
    }

    div.home-sections {
        padding: 0px 30px;
    }

    div.custom-block.custom-block-overlay {
        min-height: 350px;
        max-height: 100px;
    }
</style>