<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CinemaTic</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="~/fontawesome/css/all.css" rel="stylesheet" />
    <script src="~/fontawesome/js/all.js"></script>
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css//layoutStyle.css" />
    <link rel="shortcut icon" href="~/img/favicon.ico" />
</head>
<body>
    <header>
        <a asp-controller="Home" asp-action="Index" class="header-logo"><img src="~/assets/logo.png" alt="Logo" /></a>
        <partial name="_LoginPartial" />
    </header>
    <main>
        <section class="ad-info">
            <img src="~/assets/bg.jpg" alt="Background" class="bg" />
            <div style="margin-top: 200px; margin-bottom: 200px;" class="layout-centered-container front-panel">
                @RenderBody()
            </div>
        </section>
        @if ((string)ViewData["Title"] == "Начало")
        {
            <!--Sections-->
        }
    </main>
    <!--WIP-->
    <footer>
        <h5>Questions? Contact us now!</h5>
        <ul class="links" role="list">
            <li class="link-item">FAQ</li>
            <li class="link-item">Privacy</li>
            <li class="link-item">Contact us</li>
        </ul>

        <p class="link-item">CinemaTic&copy; 2023</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
