<div id="sticky-wrapper" class="sticky-wrapper" style="height: 77px;">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand text-white" asp-controller="Home" asp-action="Index">
                <span>CinemaTic logo</span>
            </a>

            @if (!User.Identity.IsAuthenticated)
            {
                <div class="d-lg-none ms-auto me-4">
                    <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-5 me-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_1">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_2">Features</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_3">How it works</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                <li><a class="dropdown-item" href="topics-listing.html">Topics Listing</a></li>

                                <li><a class="dropdown-item" href="contact.html">Contact Form</a></li>
                            </ul>
                        </li>
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="d-none d-lg-block">
                            <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                        </div>
                        <div class="d-none d-lg-block">
                            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="nx-btn">Logout</button>
                            </form>
                        </div>
                    }
                </div>
            }
            else
            {
                @if (User.IsInRole("Customer"))
                {
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">

                            <li class="nav-item">
                                <a class="nav-link click-scroll">Home</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="your-cinemas" role="button" data-bs-toggle="dropdown" aria-expanded="false">Your cinemas</a>

                                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="your-cinemas">
                                    <li><a class="dropdown-item" href="topics-listing.html">Topics Listing</a></li>

                                    <li><a class="dropdown-item" href="contact.html">Contact Form</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll">All cinemas</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll">Tickets</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll">Settings</a>
                            </li>

                            <li class="nav-item">
                                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button class="nav-link click-scroll">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <img id="profile-picture" style="width: 100px;" src="~/client-images/defaults/man-avatar-profile-picture-vector-illustration_268834-538-removebg-preview.png" />
                        @* <a class="text-white" href="#">Your account</a>*@
                    </div>
                }
            }
        </div>
    </nav>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/click-scroll.js"></script>
<script>
    document.querySelectorAll('a.nav-link').forEach(i => i.addEventListener("click", function () {

    }));
</script>