@model CinemaTic.ViewModels.Cinemas.CreateCinemaViewModel
@{
    ViewData["Title"] = "Add a new cinema";
}

<link href="~/css/manageStyle.css" rel="stylesheet" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<div class="app-content">
    <div class="app-content-header">
        <h1 class="app-content-headerText">Add a cinema</h1>
        <button class="mode-switch" title="Switch Theme">
            <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
                <defs></defs>
                <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
            </svg>
        </button>
        <form asp-controller="Owners" asp-action="AddCinema" method="get">
            <button class="app-content-headerButton">Add a cinema</button>
        </form>
    </div>
    <div class="create-form">
        <form asp-controller="Owners" asp-action="AddCinema" method="post" enctype="multipart/form-data" class="add-form">
            <div role="list" asp-validation-summary="None" class="text-danger"></div>
            <div class="form-group">
                <div class="active-form">
                    <i class="fa-solid fa-film input-icon"></i>
                    <input asp-for="Name" class="form-control form-style" placeholder="Your cinema's name" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="active-form">
                    <i class="fa-solid fa-pen input-icon"></i>
                    <input asp-for="Description" class="form-control form-style" placeholder="Description" />
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="active-form">
                    <i class="fa-solid fa-calendar-days input-icon"></i>
                    <input asp-for="FoundedOn" type="text" class="form-control form-style" placeholder="Date of creation" onfocus="(this.type = 'date')" onblur="(this.type = 'text')" />
                </div>
                <span asp-validation-for="FoundedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="active-form">
                    <i class="input-icon">R</i>
                    <input asp-for="SeatRows" type="text" class="form-control form-style" placeholder="Rows" />
                </div>
                <span asp-validation-for="SeatRows" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="active-form">
                    <i class="input-icon">C</i>
                    <input asp-for="SeatCols" type="text" class="form-control form-style" placeholder="Columns" />
                </div>
                <span asp-validation-for="SeatCols" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="active-form">
                    <i class="input-icon">BG</i>
                    <div class="d-flex w-100">
                        <input type="color" class="form-control form-style color-picker" value="#000000">
                        <input type="text" class="visualizer" onfocusout="setDefaultColor(this, '#000000');" placeholder="Background color" asp-for="BackgroundColor" />
                    </div>
                </div>
                <span asp-validation-for="BackgroundColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="active-form">
                    <i class="input-icon">HD</i>
                    <div class="d-flex w-100">
                        <input type="color" class="form-control form-style color-picker" value="#FFFFFF">
                        <input type="text" class="visualizer" onfocusout="setDefaultColor(this, '#FFFFFF');" placeholder="Board color" asp-for="BoardColor" />
                    </div>
                </div>
                <span asp-validation-for="BoardColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="active-form">
                    <i class="input-icon">TX</i>
                    <div class="d-flex w-100">
                        <input type="color" class="form-control form-style color-picker" value="#000000">
                        <input type="text" class="visualizer" onfocusout="setDefaultColor(this, '#000000');" placeholder="Text color" asp-for="TextColor" />
                    </div>
                </div>
                <span asp-validation-for="TextColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="active-form">
                    <i class="input-icon">BT</i>
                    <div class="d-flex w-100">
                        <input type="color" class="form-control form-style color-picker" value="#FFFFFF">
                        <input type="text" class="visualizer" onfocusout="setDefaultColor(this, '#FFFFFF');" placeholder="Button background color" asp-for="ButtonBackgroundColor" />
                    </div>
                </div>
                <span asp-validation-for="ButtonBackgroundColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="active-form">
                    <i class="input-icon">BT</i>
                    <div class="d-flex w-100">
                        <input type="color" class="form-control form-style color-picker" value="#000000">
                        <input type="text" class="visualizer" onfocusout="setDefaultColor(this, '#000000');" placeholder="Button text color" asp-for="ButtonTextColor" />
                    </div>
                </div>
                <span asp-validation-for="ButtonTextColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="active-form">
                    <i class="input-icon">AC</i>
                    <div class="d-flex w-100">
                        <input type="color" class="form-control form-style color-picker" value="#FF0000">
                        <input type="text" class="visualizer" onfocusout="setDefaultColor(this, '#FF0000');" placeholder="Accent color" asp-for="AccentColor" />
                    </div>
                </div>
                <span asp-validation-for="AccentColor" class="text-danger"></span>
            </div>
            <div class="form-group image-form-group mt-4">
                <div class="d-flex justify-content-between">
                    <div class="active-form image-upload">
                        <label asp-for="Image" for="image-upload" class="image-upload-box">
                            <i class="upload-text">Upload your cinema's logo</i>
                        </label>
                        <input asp-for="Image" id="image-upload" class="form-control form-style upload-form" onchange="loadFile(event)" />
                    </div>
                    <div class="temp-img-container">
                        <img id="tempImg" hidden />
                    </div>
                </div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <button class="app-content-headerButton" asp-route-userEmail="@User.Identity.Name">Add a cinema</button>
        </form>
    </div>
</div>
<script src="~/js/ownerdashboard.js"></script>
<script>
    document.querySelectorAll('input[type="color"]').forEach(i => i.addEventListener("input", function () {
        var visualizer = i.nextElementSibling;
        visualizer.value = i.value;
    }));
    document.querySelectorAll('input.visualizer').forEach(i => i.addEventListener("input", function () {
        var colorPicker = i.previousElementSibling;
        if (i.value) {
            colorPicker.value = i.value;
        }
    }));
    function setDefaultColor(element, color) {
        if (!element.value) {
            element.value = color;
            element.previousElementSibling.value = color;
        }
    }
</script>