@model Cinema.Models.Genre

@{
    ViewData["Title"] = "Delete genre";
}

<link href="~/css/adminStyle.css" rel="stylesheet" />
<link href="~/css/cardStyle.css" rel="stylesheet" />
<div class="moviesContainer flex-column front-panel">
    @if (Model.Movies.Count == 0)
    {
        <h1 class="change-header">Are you sure you want to delete the following genre?</h1>
        <div class="owner-info">
            <p class="edited-object">Title: <b>@Model.Name</b></p>
        </div>
        <form class="agreement-buttons" asp-controller="Genres" asp-action="Delete">
            <button type="submit" class="nx-btn green front-panel" asp-route-id="@Model.Id">Yes</button>
            <a class="nx-btn" asp-controller="Genres" asp-action="Index">No</a>
        </form>
    }
    else
    {
        <h2>The genre cannot be deleted, as there are movies associated with this genre</h2>
        <a class="nx-btn" asp-controller="Genres" asp-action="Index">Go back</a>
    }
</div>

