@model Cinema.Models.Genre

@{
    ViewData["Title"] = "Изтрий жанр";
}

<link href="~/css/adminStyle.css" rel="stylesheet" />
<link href="~/css/cardStyle.css" rel="stylesheet" />
<div class="moviesContainer flex-column front-panel">
    @if (Model.Movies.Count == 0)
    {
        <h1 class="change-header">Сигурни ли сте, че искате да изтриете следния жанр?</h1>
        <div class="owner-info">
            <p class="edited-object">Име: <b>@Model.BulgarianName</b></p>
        </div>
        <form class="agreement-buttons" asp-controller="Genres" asp-action="Delete">
            <button type="submit" class="nx-btn green front-panel" asp-route-id="@Model.Id">Да</button>
            <a class="nx-btn" asp-controller="Genres" asp-action="Index">Не</a>
        </form>
    }
    else
    {
        <h2>Жанрът не може да бъде изтрит, понеже има свързани с него филми</h2>
        <a class="nx-btn" asp-controller="Genres" asp-action="Index">Назад</a>
    }
</div>

