@model Cinema.Data.Models.Genre

@{
    ViewData["Title"] = $"Details - \"{Model.Name}\"";
}

<link rel="stylesheet" href="~/css/cardStyle.css" />
<div class="moviesContainer flex-column front-panel">
    <h1>@Model.Name</h1>
    <div class="moviesContainer">
        @if (Model.Movies.Count > 0)
        {
            @foreach (var movie in Model.Movies)
            {
                <div class="card-wrapper">
                    <div class="card">
                        <img src="~/@Cinema.Utilities.Constants.ImagesFolder/Movies/@movie.ImageUrl" />
                        <div class="descriptions">
                            <div class="description-buttons">
                                <div class="desc-button">
                                    <i class="fa-solid fa-film f-size-b"></i>
                                    <a>Watch trailer</a>
                                </div>
                                <a class="desc-button" asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">
                                    <i class="fa-solid fa-circle-info f-size-b"></i>
                                    Details
                                </a>
                                @if (User.IsInRole("Owner") == false)
                                {
                                    <a class="desc-button" asp-controller="Tickets" asp-action="Create" asp-route-movieId="@movie.Id">
                                        <i class="fa-solid fa-cart-shopping f-size-b"></i>
                                        Buy ticket
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h2><i>There are no @Model.Name movies!</i></h2>
        }
    </div>
</div>