@model CinemaTic.ViewModels.Cinemas.OwnerStatisticsViewModel

@{
    ViewData["Title"] = "Owner dashboard";
}
<link href="~/css/manage-dashboard.css" rel="stylesheet" />
<div class="app-content home-graphs gap-4">
    <div class="app-content-header" id="cinemas">
        <h1 class="app-content-headerText">Owner dashboard</h1>
        <button class="mode-switch" title="Switch Theme">
            <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
                <defs></defs>
                <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
            </svg>
        </button>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-center">
        <div style="width: 50%; max-width: 500px;"><canvas id="marketShare" data-aos="zoom-in-right" data-aos-delay="300"></canvas></div>
        <div style="width: 50%; max-width: 500px;"><canvas id="bestSellingMoviesPerCinema" data-aos="zoom-in-left" data-aos-delay="300"></canvas></div>
    </div>
    <div style="width: 100%;"><canvas id="customersPerCinema" data-aos="fade-right" data-aos-delay="300"></canvas></div>
    <div style="width: 100%;"><canvas id="totalRevenuePerCinema"></canvas></div>
</div>
<script src="~/lib/chart.js/chart.umd.js"></script>
<script src="~/lib/chart.js/chart.umd.min.js"></script>
<script src="~/js/owner-charts.js"></script>
<script src="~/js/dashboard.js"></script>
<script>
    getMarketShare();
    getTotalIncomes();
    getCustomersPerCinema();
    getBestSellingMoviesPerCinema();
</script>