@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #101827;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

nav {
    background-color: transparent;
    color: white;
    padding: 0px 50px;
    position: relative;
    z-index: 20;
}

a.logo-link {
    width: fit-content;
}

div.container {
    margin: 0;
    padding: 0;
}

.card {
    flex-basis: 200px;
    flex-grow: 1;
    height: 300px;
}

img#cinema-logo {
    width: 100px;
}

img#profile-picture {
    width: 70px;
}

div.main-cinema-container {
    width: 100%;
    position: relative;
}

img.bg-image {
    transform: rotate(180deg);
    position: absolute;
    top: 0;
}

.main-container {
    position: relative;
    z-index: 20;
}

.dates-container {
    width: 100%;
    height: 200px;
    background: white;
    padding: 20px 80px;
}

div.gradient-box {
    height: 32px;
    box-shadow: 0 -1px #ddd;
    background-image: linear-gradient(#f4f4f4,#fff);
}

div.dates-info-container {
    background: white;
    padding: 0px 80px;
}

.row span {
    font-size: 1.5rem;
    width: fit-content;
}

.selection-buttons {
    width: fit-content;
}

    .selection-buttons button, .button {
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        border: 2px solid lightgray;
    }

        .selection-buttons button:not(.movie-item).active, .button.active {
            border: 2px solid red;
        }

button.date {
    border: 0;
    background: white;
    width: fit-content;
}

    button.date.active {
        font-size: 1.5rem;
        color: red;
        font-weight: 400;
    }

.movie {
    padding-bottom: 20px;
    border-bottom: 2px solid lightgray;
}

    .movie:not(:first-child) {
        padding-top: 20px;
    }

    .movie img {
        width: 200px;
    }

.time-button {
    border: 0;
    background: indianred;
    color: white;
    padding: 5px 25px;
    border-radius: 5px;
}

.genre-time span + .genre-time span::before {
    content: " | ";
}

button.date:not(.active):hover {
    transform: scale(1.2);
    font-weight: 500;
}

.time-button:hover {
    background: #ab4c4c;
}


div#modal.preview {
    width: 99%;
    height: 99%;
    padding: 0;
    overflow: auto;
}

    div#modal.preview .close-btn {
        z-index: 1000;
    }
div.main-content {
    background: white;
    height: 100vh;
    padding: 4rem 2rem;
}
button.sector-button:hover {
    background-color: darkgray;
}
button.sector-button {
    border: 0;
    padding: 3rem;
}
.select-seats__seat-grid__wrapper {
    overflow: visible;
    display: table;
    margin: auto;
    transform-origin: top left;
    max-width: 100%;
    max-height: 100%;
}

.screen-display {
    position: relative;
    text-transform: uppercase;
    padding-bottom: 2rem;
    font-weight: 700;
    font-size: 1rem;
}

.screen-title {
    border-radius: 0.2rem;
    position: absolute;
    background-color: #bab8b8;
    padding: 1rem;
    height: 1rem;
    letter-spacing: .039rem;
}

.screen-line {
    height: 0.2rem;
    background-color: #bab8b8;
}
.seat {
    background: none;
    border: 0;
    color: #19d448;
    font-size: 2rem;
}

.seat span {
        color: black;
        font-size: 1rem;
    }

    .seat .seat-bottom {
        gap: 10px;
    }
button.back-button {
    border: 0;
    padding: 2px 55px;
    color: white;
    border-radius: 5px;
    background: indianred;
}
    button.back-button:hover {
        background: #a74b4b;
    }
    i.fa-couch.occupied {
        color: red;
    }
i.fa-couch.selected {
    transition: 0.5s;
    color: blue;
}
    .seat-row {
        gap: 10px;
    }
div.individual-seat input {
    position: absolute;
    z-index: -2;
    visibility: hidden;
}
div.individual-seat i {
    cursor: pointer;
}
#seats-info {
    max-width: 400px;
}
.movie-details-container span.description {
    display: -webkit-box;
    max-width: 500px;
    word-break: break-word;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
i.trailer-play-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    color: white;
    font-size: 4rem;
    border: 0.3rem solid grey;
    background: grey;
    border-radius: 50%;
    opacity: 0.9;
    z-index: 20;
}
div.movie-poster:has(i.trailer-play-button) {
    cursor: pointer;
}
div.movie-poster:has(i.trailer-play-button):hover {
    background-color: red;
}
div.movie-poster-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
div.movie-poster:has(i.trailer-play-button):hover div.movie-poster-overlay {
    background: rgba(255, 255, 255, 0.3);
    transition: 0.25s;
}
.container, .container-fluid {
    max-width: 75%;
    width: 75%;
}

.trailer-container {
    width: 100%;
}

div.video-holder {
    height: 50vh;
}

iframe#trailer {
    width: 100%;
    height: 100%;
    opacity: 1;
    display: block;
}

div.production-info-box {
    display: flex;
    margin: 1rem 0;
}

    div.production-info-box span, div.movie-rating-container span {
        font-size: 1rem;
    }

    div.production-info-box h6 {
        min-width: 40%;
    }

i.ct-rating-star {
    font-size: 1.5rem;
}

.modal-star-container svg {
    pointer-events: none;
}

svg.average {
    color: #f5c518;
}

svg.personal {
    color: green;
    cursor: pointer;
}

svg.rate {
    color: grey;
}

svg.personal.not-rated {
    color: #5799ef;
}

div.rating-box:has(svg.not-rated) {
    cursor: pointer;
}

div#modal.movie-rating-modal {
    border: 0;
    padding: 0;
    background: transparent;
}

    div#modal.movie-rating-modal #review-form-container {
        background: black;
        margin: 50px 0 0 0;
    }

div.rate {
    cursor: default;
}

.modal-star-container {
    cursor: pointer;
}

    .modal-star-container input {
        position: absolute;
        z-index: -2;
        visibility: hidden;
    }

svg.rate.active {
    color: #f5c518;
}

.rate-button {
    background-color: #f5c518;
    color: black;
    font-weight: 500;
}