@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #101827;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

nav {
    background-color: transparent;
    color: white;
    padding: 0px 50px;
    position: relative;
    z-index: 20;
}

a.logo-link {
    width: fit-content;
}

div.container {
    margin: 0;
    padding: 0;
}

.card {
    flex-basis: 200px;
    flex-grow: 1;
    height: 300px;
}

img#cinema-logo {
    width: 100px;
}

img#profile-picture {
    width: 70px;
}

div.main-cinema-container {
    width: 100%;
    position: relative;
}

img.bg-image {
    transform: rotate(180deg);
    position: absolute;
    top: 0;
}

.main-container {
    position: relative;
    z-index: 20;
}

.dates-container {
    width: 100%;
    height: 200px;
    background: white;
    padding: 20px 80px;
}

div.gradient-box {
    height: 32px;
    box-shadow: 0 -1px #ddd;
    background-image: linear-gradient(#f4f4f4,#fff);
}

div.dates-info-container {
    background: white;
    padding: 0px 80px;
}

.row span {
    font-size: 1.5rem;
    width: fit-content;
}

.selection-buttons {
    width: fit-content;
}

    .selection-buttons button, .button {
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        border: 2px solid lightgray;
    }

        .selection-buttons button:not(.movie-item).active, .button.active {
            border: 2px solid red;
        }

button.date {
    border: 0;
    background: white;
    width: fit-content;
}

    button.date.active {
        font-size: 1.5rem;
        color: red;
        font-weight: 400;
    }

.movie {
    padding-bottom: 20px;
    border-bottom: 2px solid lightgray;
}

    .movie:not(:first-child) {
        padding-top: 20px;
    }

    .movie img {
        width: 200px;
    }

.time-button {
    border: 0;
    background: indianred;
    color: white;
    padding: 5px 25px;
    border-radius: 5px;
}

.genre-time span + .genre-time span::before {
    content: " | ";
}

button.date:not(.active):hover {
    transform: scale(1.2);
    font-weight: 500;
}

.time-button:hover {
    background: #ab4c4c;
}


div#modal.preview {
    width: 99%;
    height: 99%;
    padding: 0;
    overflow: auto;
}

    div#modal.preview .close-btn {
        z-index: 1000;
    }
div.main-content {
    background: white;
    height: 100vh;
    padding: 4rem 2rem;
}
button.sector-button:hover {
    background-color: darkgray;
}
button.sector-button {
    border: 0;
    padding: 3rem;
}
.select-seats__seat-grid__wrapper {
    overflow: visible;
    display: table;
    margin: auto;
    transform-origin: top left;
    max-width: 100%;
    max-height: 100%;
}

.screen-display {
    position: relative;
    text-transform: uppercase;
    padding-bottom: 2rem;
    font-weight: 700;
    font-size: 1rem;
}

.screen-title {
    border-radius: 0.2rem;
    position: absolute;
    background-color: #bab8b8;
    padding: 1rem;
    height: 1rem;
    letter-spacing: .039rem;
}

.screen-line {
    height: 0.2rem;
    background-color: #bab8b8;
}
.seat {
    background: none;
    border: 0;
    color: #19d448;
    font-size: 2rem;
}

.seat span {
        color: black;
        font-size: 1rem;
    }

    .seat .seat-bottom {
        gap: 10px;
    }
button.back-button {
    border: 0;
    padding: 2px 55px;
    color: white;
    border-radius: 5px;
    background: indianred;
}
    button.back-button:hover {
        background: #a74b4b;
    }
    i.fa-couch.occupied {
        color: red;
    }
i.fa-couch.selected {
    transition: 0.5s;
    color: blue;
}
    .seat-row {
        gap: 10px;
    }
div.individual-seat input {
    position: absolute;
    z-index: -2;
    visibility: hidden;
}
div.individual-seat i {
    cursor: pointer;
}
#seats-info {
    max-width: 400px;
}