.seats {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.seat-row {
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.seat:not(.disabled):hover {
    transform: scale(1.5);
    transition: 0.6s ease-in-out;
}
button.seat {
    font-size: 1.5rem;
    background-color: transparent;
    border: 0;
}
.seat .green {
    color: #19d448;
    font-size: 2rem;
}
/*.seat-ind .radio{
    position: absolute;
    z-index: -2;
    visibility: hidden;
}*/
.red {
    color: var(--nx-red);
    font-size: 2rem;
}
.disabled {
    pointer-events: none;
}
input.radio {
    visibility: hidden;
}

.sector-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.sector-line {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 15px;
}
.sector {
    background-color: rgba(6, 125, 6, .7);
    padding: 80px;
    border: 2px solid black;
}
    .sector:hover {
        background-color: rgba(4, 84, 4, .7);
        transition: 0.6s ease-in-out;
    }
.sector-container.sector-selector {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    right: 60px;
}
.sector-container-row-heading {
    transform: rotate(270deg);
    margin-right: 60px;
}
.sector-container-col-heading {
    margin-bottom: 15px;
}
.sector-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 33%;
}
.seats-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right-seat {
    margin-right: 10px;
}
.seat label {
    cursor: pointer;
}
input.disabled {
    pointer-events: none;
}
#submit-seat-btn:not([disabled]) {
    cursor: pointer;
}
#submit-seat-btn[disabled] {
    background-color: gray;
    border-color: gray;
}
/*Occupied seat popup*/