:root {
    /*Colors*/
    --primary-color: #0b3147;
    --main-text-color: #fff;
    --main-section-text-color: #000;
    --section-bg-color: #f0f8ff;
    --navbar-active-link-color: #c3c3c3;
    --section-first-bgcolor: #fff;
    --section-second-bgcolor: #f3f5fa;
    /*Fonts*/
    --heading-font: 'Montserrat', sans-serif;
    --h1-font-size: 48px;
    --h2-font-size: 46px;
    --h3-font-size: 32px;
    --h4-font-size: 28px;
    --h5-font-size: 24px;
    --h6-font-size: 22px;
    --p-font-size: 20px;
    --menu-font-size: 14px;
    --btn-font-size: 18px;
    --copyright-font-size: 16px;
    --border-radius-large: 100px;
    --border-radius-medium: 20px;
    --border-radius-small: 10px;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}

.light:root {
    --primary-color: #f3f3f3;
    --main-text-color: #000;
    --main-section-text-color: #fff;
    --navbar-active-link-color: #2a90b5;
    --section-first-bgcolor: #0b3147;
    --section-second-bgcolor: #f3f5fa;
}

body {
    background: var(--primary-color);
    color: var(--main-text-color);
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: var(--font-weight-semibold);
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

h5 {
    font-size: var(--h5-font-size);
}

h6 {
    font-size: var(--h6-font-size);
}

ul li {
    color: var(--p-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-normal);
}

a,
button {
    touch-action: manipulation;
    transition: all 0.3s;
}

a {
    display: inline-block;
    color: var(--primary-color);
    text-decoration: none;
}

b,
strong {
    font-weight: var(--font-weight-bold);
}

.navbar-logo {
    width: 50px;
    max-width: 50px;
    min-width: 50px;
    object-fit: cover;
    overflow: hidden;
}

    .navbar-logo:hover, .footer-logo:hover {
        transform: scale(1.2);
        transition: 1s ease-out;
    }

div#navbarNav {
    flex-grow: 0;
}

img#profile-picture {
    width: 3vw;
    height: 3vw;
}

.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-bg {
    background-color: var(--section-bg-color);
}

.section-overlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}

.timeline-section .section-overlay {
    background-image: linear-gradient(15deg, #70e1f5 0%, #ffd194 100%);
}

.home-sections {
    flex-wrap: wrap;
    row-gap: 20px;
}

section:not(.main-section) .custom-block:not(.home-block) {
    min-height: 600px;
    max-height: 600px;
}

.tab-content .custom-block.home-block {
    min-height: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-block.home-block img {
    height: 60%;
}

.custom-block a:not(.custom-btn) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100% !important;
}

.home-sections div:nth-child(odd) .custom-block .section-overlay {
    background-image: linear-gradient(15deg, #70e1f5 0%, #ffd194 100%);
}

.home-sections div:nth-child(even) .custom-block .section-overlay {
    background-image: linear-gradient(15deg, #ffd194 0%, #70e1f5 100%);
}

.section-overlay + .container {
    position: relative;
}

.chart-container {
    margin-right: 5rem;
}

.tab-content {
    border-radius: var(--border-radius-medium);
}

.nav-tabs {
    border-bottom: 1px solid #ecf3f2;
    margin-bottom: 40px;
    justify-content: center;
}

    .nav-tabs .nav-link {
        border-radius: 0;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        color: var(--p-color);
        font-family: var(--heading-font);
        font-size: var(--btn-font-size);
        font-weight: var(--font-weight-medium);
        padding: 15px 25px;
        transition: all 0.3s;
    }

        .nav-tabs .nav-link:first-child {
            margin-right: 20px;
        }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
            border-bottom-color: var(--primary-color);
            color: var(--main-text-color);
        }
/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
    background: var(--custom-btn-bg-color);
    border: 2px solid transparent;
    border-radius: var(--border-radius-large);
    color: #ffffff;
    font-size: var(--btn-font-size);
    font-weight: var(--font-weight-semibold);
    line-height: normal;
    transition: all 0.3s;
    padding: 10px 20px;
}

    .custom-btn:hover {
        background: var(--custom-btn-bg-hover-color);
        color: #ffffff;
    }

.custom-border-btn {
    background: transparent;
    border: 2px solid var(--custom-btn-bg-color);
    color: var(--custom-btn-bg-color);
}

    .custom-border-btn:hover {
        background: var(--custom-btn-bg-color);
        border-color: transparent;
        color: #ffffff;
    }

.custom-btn-bg-white {
    border-color: #ffffff;
    color: #ffffff;
}
/*---------------------------------------
  SITE HEADER              
-----------------------------------------*/
.site-header {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    padding-top: 150px;
    padding-bottom: 80px;
}

    .site-header .container {
        height: 100%;
    }

.breadcrumb-item + .breadcrumb-item::before, .breadcrumb-item a:hover, .breadcrumb-item.active {
    color: #ffffff;
}

.site-header .custom-icon {
    color: #ffffff;
    font-size: var(--h4-font-size);
}

    .site-header .custom-icon:hover {
        color: var(--secondary-color);
    }
/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.sticky-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.navbar {
    background: transparent;
    z-index: 9;
}

    .navbar.sticky {
        background-color: black;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 100;
        border-top: 0;
        transition: 0.25s;
    }

.navbar-brand, .navbar-brand:hover {
    font-size: var(--h3-font-size);
    font-weight: var(--font-weight-bold);
    display: block;
}

    .navbar-brand span {
        font-family: var(--heading-font);
    }

.navbar-expand-lg .navbar-nav .nav-link {
    border-radius: var(--border-radius-large);
    margin: 10px;
    padding: 10px;
}

.navbar-nav .nav-link {
    display: inline-block;
    color: var(--main-text-color);
    font-family: var(--heading-font);
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}

    .navbar-nav .nav-link.active, .navbar-nav .nav-link:hover {
        color: var(--navbar-active-link-color);
    }

.navbar .dropdown-menu {
    background: #ffffff;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    border: 0;
    display: inherit;
    opacity: 0;
    min-width: 9rem;
    margin-top: 20px;
    padding: 13px 0 10px 0;
    transition: all 0.3s;
    pointer-events: none;
}

    .navbar .dropdown-menu::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 15px solid #ffffff;
        position: absolute;
        top: -10px;
        left: 10px;
    }

.navbar .dropdown-item {
    display: inline-block;
    color: var(--p-bg-color);
    font-family: var(--heading-font);
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    position: relative;
}

    .navbar .dropdown-item.active, .navbar .dropdown-item:active, .navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
        background: transparent;
        color: var(--primary-color);
    }

.navbar .dropdown-toggle::after {
    content: "\f282";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-size: var(--copyright-font-size);
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    left: 2px;
    border: 0;
}

@media screen and (min-width: 992px) {
    .navbar .dropdown:hover .dropdown-menu {
        opacity: 1;
        margin-top: 0;
        pointer-events: auto;
    }
}

.navbar-icon {
    background: #ffffff;
    border-radius: var(--border-radius-large);
    display: inline-block;
    font-size: var(--h5-font-size);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: all 0.3s ease;
}

    .navbar-icon:hover {
        background: var(--primary-color);
        color: #ffffff;
    }

.navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0;
    width: 30px;
    height: 35px;
    outline: none;
}

    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }

    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
        background: transparent;
    }

        .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before, .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
            transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
            transition: top 300ms 50ms ease, transform 300ms 350ms ease;
            transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
            top: 0;
        }

        .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
            transform: rotate(45deg);
        }

        .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
            transform: rotate(-45deg);
        }

    .navbar-toggler .navbar-toggler-icon {
        background: #ffffff;
        transition: background 10ms 300ms ease;
        display: block;
        width: 30px;
        height: 2px;
        position: relative;
    }

        .navbar-toggler .navbar-toggler-icon:before, .navbar-toggler .navbar-toggler-icon:after {
            transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
            transition: top 300ms 350ms ease, transform 300ms 50ms ease;
            transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
            position: absolute;
            right: 0;
            left: 0;
            background: #ffffff;
            width: 30px;
            height: 2px;
            content: '';
        }

        .navbar-toggler .navbar-toggler-icon::before {
            top: -8px;
        }

        .navbar-toggler .navbar-toggler-icon::after {
            top: 8px;
        }
/*---------------------------------------
  HERO        
-----------------------------------------*/
.main-section {
    padding-top: 20vh;
    padding-bottom: 10vh;
}

.hero-section {
    background: var(--primary-color);
    position: relative;
    overflow: hidden;
    min-height: 75vh;
    max-height: 75vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

    .hero-section h1 {
        margin: 0 0 10px 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        color: #fff;
        font-family: "Jost";
    }

    .hero-section h2 {
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 50px;
        font-size: 24px;
        font-family: "Jost";
    }

    .hero-section a {
        font-family: Jost, sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px 28px 11px 28px;
        border-radius: 50px;
        transition: 0.5s;
        margin: 10px 0 0 0;
        color: #fff;
        background: #47b2e4;
    }

    .hero-section .input-group {
        background-color: #ffffff;
        border-radius: var(--border-radius-large);
        padding: 10px 15px;
    }

    .hero-section .input-group-text {
        background-color: transparent;
        border: 0;
    }

    .hero-section input[type="search"] {
        border: 0;
        box-shadow: none;
        margin-bottom: 0;
        padding-left: 0;
    }

    .hero-section button[type="submit"] {
        background-color: var(--primary-color);
        border: 0;
        border-radius: var(--border-radius-large) !important;
        color: #ffffff;
        max-width: 230px;
    }
/*---------------------------------------
  TOPICS              
-----------------------------------------*/
.section-container section {
    padding: 60px 0;
    overflow: hidden;
    color: var(--main-section-text-color);
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

    .section-title h2, .section-title h3 {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        color: #37517e;
    }

    .section-title h2 {
        font-size: 32px;
    }

    .section-title h3 {
        font-size: 16px;
    }

    .section-title *:last-child::before {
        content: "";
        position: absolute;
        display: block;
        width: 120px;
        height: 1px;
        background: #ddd;
        bottom: 1px;
        left: calc(50% - 60px);
    }

    .section-title *:last-child::after {
        content: "";
        position: absolute;
        display: block;
        width: 40px;
        height: 3px;
        background: #47b2e4;
        bottom: 0;
        left: calc(50% - 20px);
    }

.section-container section:nth-child(odd) {
    background-color: var(--section-first-bgcolor);
}

.section-container section:nth-child(even) {
    background-color: var(--section-second-bgcolor);
}

.about .content * {
    font-size: 1rem;
}

.about .content .btn-learn-more {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: #47b2e4;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #47b2e4;
}

.about .content ul li:not(:last-child) {
    padding-bottom: 10px;
}

.about .content i {
    color: #47b2e4;
}

.featured-section {
    border-radius: 0 0 100px 100px;
    padding-bottom: 100px;
}

    .featured-section .section-title {
        padding-bottom: 16px;
    }

    .featured-section .row {
        position: relative;
        bottom: 100px;
        margin-bottom: -100px;
    }

ul#activities li button.active {
    background: none;
    color: var(--main-section-text-color);
}

section.customer-how h3 {
    font-weight: 700;
    font-size: 32px;
    color: var(--primary-color);
}

.accordion-list {
    padding: 10px 0px;
}

    .accordion-list li {
        padding: 20px;
        border-radius: 4px;
        margin-bottom: 1.5rem;
    }

.section-container section:nth-child(odd) .accordion-list li {
    background: var(--section-second-bgcolor);
}

.section-container section:nth-child(even) .accordion-list li {
    background: var(--section-first-bgcolor);
}

.accordion-list li div p {
    margin: 1rem 0;
    font-size: 1rem;
}

.accordion-list li a {
    display: flex;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
}

.accordion-list a.collapsed {
    color: #343a40;
}

.accordion-list span {
    color: #47b2e4;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
}

.accordion-list .icon-show {
    display: inline-block;
}

.custom-block {
    border-radius: var(--border-radius-medium);
    position: relative;
    overflow: hidden;
    padding: 30px;
    transition: all 0.3s ease;
    height: 100%;
}

    .custom-block:hover {
        background-color: var(--secondary-color);
        transform: translateY(-3px);
    }

    .custom-block > a {
        width: 100%;
    }

.custom-block-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 35px;
}

.custom-block .rounded-pill {
    border-radius: 5px !important;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 20px;
}

.custom-block-overlay {
    height: 100%;
    min-height: 350px;
    padding: 0;
}

    .custom-block-overlay > a {
        height: 100%;
    }

    .custom-block-overlay .custom-block-image {
        border-radius: var(--border-radius-medium);
        display: block;
        height: 100%;
        margin-top: 0;
    }

.custom-block-overlay-text {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    padding: 30px;
}

.social-share {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    padding: 20px 35px;
}

    .social-share .bi-bookmark {
        color: #ffffff;
        font-size: var(--h5-font-size);
    }

        .social-share .bi-bookmark:hover {
            color: var(--secondary-color);
        }

.bg-design {
    background-color: #00B0FF;
}

.bg-graphic {
    background-color: #00BFA6;
}

.bg-advertising {
    background-color: #F50057;
}

.bg-finance {
    background-color: #536DFE;
}

.bg-music {
    background-color: #F9A826;
}

.bg-education {
    background-color: #00BFA6;
}
/*---------------------------------------
  TOPICS               
-----------------------------------------*/
.topics-detail-block {
    border-radius: var(--border-radius-medium);
    position: relative;
    overflow: hidden;
}

.topics-detail-block-image {
    display: block;
    border-radius: var(--border-radius-medium);
}

blockquote {
    background-color: var(--section-bg-color);
    border-radius: var(--border-radius-small);
    font-family: var(--heading-font);
    font-size: var(--h4-font-size);
    font-weight: var(--font-weight-bold);
    display: inline-block;
    text-align: center;
    margin: 30px;
    padding: 40px;
}

.topics-listing-page .site-header {
    padding-bottom: 65px;
}

.custom-block-topics-listing-info {
    margin: 30px 20px 20px 30px;
}

.custom-block-topics-listing {
    height: inherit;
}

    .custom-block-topics-listing .custom-block-image {
        width: 200px;
    }
/*---------------------------------------
  PAGINATION              
-----------------------------------------*/
.pagination {
    margin-top: 40px;
}

.page-link {
    border: 0;
    border-radius: var(--border-radius-small);
    color: var(--p-color);
    font-family: var(--heading-font);
    margin: 0 5px;
    padding: 10px 20px;
}

    .page-link:hover, .page-item:first-child .page-link:hover, .page-item:last-child .page-link:hover {
        background-color: var(--secondary-color);
        color: #ffffff;
    }

.page-item:first-child .page-link {
    margin-right: 10px;
}

.page-item:first-child .page-link, .page-item:last-child .page-link {
    background-color: var(--section-bg-color);
    border-radius: var(--border-radius-small);
}

.active > .page-link, .page-link.active {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
/*---------------------------------------
  TIMELINE              
-----------------------------------------*/
.timeline-section {
    background-image: url('../img/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.timeline-container .vertical-scrollable-timeline {
    list-style-type: none;
    position: relative;
    padding-left: 0;
}

    .timeline-container .vertical-scrollable-timeline .list-progress {
        width: 8px;
        height: 67%;
        background-color: var(--primary-color);
        position: absolute;
        left: 52px;
        top: 18%;
        overflow: hidden;
    }

        .timeline-container .vertical-scrollable-timeline .list-progress .inner {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 100%;
            background-color: var(--secondary-color);
            width: 100%;
        }

    .timeline-container .vertical-scrollable-timeline li {
        position: relative;
        padding: 20px 0px 65px 145px;
    }

        .timeline-container .vertical-scrollable-timeline li:last-child {
            padding-bottom: 0;
        }

        .timeline-container .vertical-scrollable-timeline li p {
            line-height: 40px;
        }

            .timeline-container .vertical-scrollable-timeline li p:last-child {
                margin-bottom: 0;
            }

        .timeline-container .vertical-scrollable-timeline li .icon-holder {
            position: absolute;
            left: 0;
            /*            top: 0;*/
            width: 104px;
            height: 104px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--secondary-color);
            border-radius: 50%;
            z-index: 1;
            transition: 0.4s all;
        }

            .timeline-container .vertical-scrollable-timeline li .icon-holder::before {
                content: "";
                width: 80px;
                height: 80px;
                border: 4px solid #fff;
                position: absolute;
                background-color: var(--secondary-color);
                border-radius: 50%;
                z-index: -1;
                transition: 0.4s all;
            }

            .timeline-container .vertical-scrollable-timeline li .icon-holder i {
                font-size: 25px;
                color: #ffffff;
            }

        .timeline-container .vertical-scrollable-timeline li::before {
            content: "";
            position: absolute;
            height: 100%;
            top: 30%;
            width: 8px;
            background-color: transparent;
            left: 52px;
            z-index: 0;
        }

        .timeline-container .vertical-scrollable-timeline li.active .icon-holder {
            background-color: var(--primary-color);
        }

            .timeline-container .vertical-scrollable-timeline li.active .icon-holder::before {
                background-color: var(--primary-color);
            }
/*---------------------------------------
  FAQs              
-----------------------------------------*/
.faq-section .accordion-item {
    border: 0;
}

.faq-section .accordion-button {
    font-size: var(--h6-font-size);
    font-weight: var(--font-weight-semibold);
}

.faq-section .accordion-item:first-of-type .accordion-button {
    border-radius: var(--border-radius-large);
}

.faq-section .accordion-button:not(.collapsed) {
    border-radius: var(--border-radius-large);
    box-shadow: none;
    color: var(--primary-color);
}

.faq-section .accordion-body {
    color: var(--p-color);
    font-size: var(--btn-font-size);
    line-height: 40px;
}
/*---------------------------------------
  NEWSLETTER               
-----------------------------------------*/
.newsletter-image {
    border-radius: var(--border-radius-medium);
}
/*---------------------------------------
  CONTACT               
-----------------------------------------*/
.google-map {
    border-radius: var(--border-radius-medium);
}

.contact-form .form-floating > textarea {
    border-radius: var(--border-radius-medium);
    height: 150px;
}
/*---------------------------------------
  SUBSCRIBE FORM               
-----------------------------------------*/
.subscribe-form-wrap {
    padding: 50px;
}

.subscribe-form {
    width: 95%;
}
/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
    border-radius: var(--border-radius-large);
    color: var(--p-color);
    margin-bottom: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    outline: none;
}

.form-floating > label {
    padding-left: 20px;
}

.custom-form button[type="submit"] {
    background: var(--custom-btn-bg-color);
    border: none;
    border-radius: var(--border-radius-large);
    color: #ffffff;
    font-family: var(--heading-font);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-semibold);
    transition: all 0.3s;
    margin-bottom: 0;
}

    .custom-form button[type="submit"]:hover, .custom-form button[type="submit"]:focus {
        background: var(--custom-btn-bg-hover-color);
        border-color: transparent;
    }
/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.site-footer {
    border-bottom: 10px solid var(--secondary-color);
    position: relative;
}

    .site-footer::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 200px 200px;
        border-color: transparent transparent var(--secondary-color) transparent;
        pointer-events: none;
    }

.site-footer-title {
    color: var(--primary-color);
}

.site-footer .dropdown-menu {
    padding: 0;
}

.site-footer .dropdown-item {
    color: var(--p-color);
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-medium);
    padding: 4px 18px;
}

    .site-footer .dropdown-item:hover {
        background-color: transparent;
        color: var(--primary-color);
    }

.site-footer .dropdown-menu li:first-child .dropdown-item {
    padding-top: 10px;
}

.site-footer .dropdown-menu li:last-child .dropdown-item {
    padding-bottom: 12px;
}

.site-footer .dropdown-toggle {
    background-color: var(--secondary-color);
    border-color: #ffffff;
}

    .site-footer .dropdown-toggle:hover {
        background-color: var(--primary-color);
        border-color: transparent;
    }

.site-footer-links {
    padding-left: 0;
}

.site-footer-link-item {
    display: block;
    list-style: none;
    line-height: normal;
}

.site-footer-link {
    color: var(--secondary-color);
    font-size: var(--copyright-font-size);
    font-weight: var(--font-weight-medium);
    line-height: normal;
}

.copyright-text {
    font-size: var(--copyright-font-size);
}
/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
    margin: 0;
    padding: 0;
}

.social-icon-item {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

.social-icon-link {
    background: var(--secondary-color);
    border-radius: var(--border-radius-large);
    color: #ffffff;
    font-size: var(--copyright-font-size);
    display: block;
    margin-right: 10px;
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 36px;
    transition: background 0.2s, color 0.2s;
}

    .social-icon-link:hover {
        background: var(--primary-color);
        color: #ffffff;
    }
/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 991px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 28px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    .section-padding {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .navbar {
        background-color: var(--secondary-color);
    }

    .navbar-nav .dropdown-menu {
        position: relative;
        left: 10px;
        opacity: 1;
        pointer-events: auto;
        max-width: 155px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .navbar-expand-lg .navbar-nav {
        padding-bottom: 20px;
    }

        .navbar-expand-lg .navbar-nav .nav-link {
            padding: 0;
        }

    .nav-tabs .nav-link:first-child {
        margin-right: 5px;
    }

    .nav-tabs .nav-link {
        font-size: var(--copyright-font-size);
        padding: 10px;
    }

    .featured-section {
        border-radius: 0 0 80px 80px;
        padding-bottom: 50px;
    }

    .custom-block-topics-listing .custom-block-image {
        width: auto;
    }

    .custom-block-topics-listing > .d-flex,
    .custom-block-topics-listing-info,
    .custom-block-topics-listing a {
        flex-direction: column;
    }

    .timeline-container .vertical-scrollable-timeline .list-progress {
        height: 75%;
    }

    .timeline-container .vertical-scrollable-timeline li {
        padding-left: 135px;
    }

    .subscribe-form-wrap {
        padding-top: 30px;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 20px;
    }
}

.ui-adv {
    background-color: #fbf1e8 !important;
}

    .ui-adv a {
        background-color: #fbf1e8;
    }

div.sub-block {
    max-width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
}

span.sub-title {
    font-size: 18px;
    font-weight: bold;
}

div.features-container div.row {
    justify-content: center;
}

.access-denied-back {
    border: 0;
    background: indianred;
    color: white;
    padding: 5px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.error-404 i {
    font-size: 10rem;
    color: red;
}

.circle-image {
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50% !important;
}

p.cinema-description {
    display: -webkit-box;
    max-width: 500px;
    word-break: break-word;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.floating {
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    25% {
        transform: translate(0, 15px);
    }

    50% {
        transform: translate(0, -0px);
    }

    75% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

.search-bar {
    background-color: white;
    border: 1px solid black;
    color: black;
    font-size: 14px;
    line-height: 24px;
    border-radius: 4px;
    padding: 0px 10px 0px 32px;
    height: 32px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    width: 100%;
    max-width: 320px;
    transition: 0.2s;
}
    .search-bar:hover {
        border-color: #6291fd;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236291fd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
    }
    .search-bar:focus {
        outline: none;
        border-color: #2869ff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%232869ff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
    }
section a.action-button {
    font-family: Jost, sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
    cursor: pointer;
}
section a.action-button.disabled {
    color: lightgray;
    cursor: default;
    pointer-events: none;
}
.checkbox-wrapper input[type=checkbox] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
}

    .checkbox-wrapper input[type=checkbox]:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }

    .checkbox-wrapper input[type=checkbox]:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }

    .checkbox-wrapper input[type=checkbox]:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
    }

        .checkbox-wrapper input[type=checkbox]:disabled:checked {
            --b: var(--disabled-inner);
            --bc: var(--border);
        }

        .checkbox-wrapper input[type=checkbox]:disabled + label {
            cursor: not-allowed;
        }

    .checkbox-wrapper input[type=checkbox]:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }

    .checkbox-wrapper input[type=checkbox]:focus {
        box-shadow: 0 0 0 var(--focus);
    }

    .checkbox-wrapper input[type=checkbox]:not(.switch) {
        width: 21px;
    }

        .checkbox-wrapper input[type=checkbox]:not(.switch):after {
            opacity: var(--o, 0);
        }

        .checkbox-wrapper input[type=checkbox]:not(.switch):checked {
            --o: 1;
        }

    .checkbox-wrapper input[type=checkbox] + label {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        margin-left: 4px;
    }

    .checkbox-wrapper input[type=checkbox]:not(.switch) {
        border-radius: 7px;
    }

        .checkbox-wrapper input[type=checkbox]:not(.switch):after {
            width: 5px;
            height: 9px;
            border: 2px solid var(--active-inner);
            border-top: 0;
            border-left: 0;
            left: 7px;
            top: 4px;
            transform: rotate(var(--r, 20deg));
        }

        .checkbox-wrapper input[type=checkbox]:not(.switch):checked {
            --r: 43deg;
        }

    .checkbox-wrapper input[type=checkbox].switch {
        width: 38px;
        border-radius: 11px;
    }

        .checkbox-wrapper input[type=checkbox].switch:after {
            left: 2px;
            top: 2px;
            border-radius: 50%;
            width: 17px;
            height: 17px;
            background: var(--ab, var(--border));
            transform: translateX(var(--x, 0));
        }

        .checkbox-wrapper input[type=checkbox].switch:checked {
            --ab: var(--active-inner);
            --x: 17px;
        }

        .checkbox-wrapper input[type=checkbox].switch:disabled:not(:checked):after {
            opacity: 0.6;
        }

}

.checkbox-wrapper * {
    box-sizing: inherit;
}

    .checkbox-wrapper *:before,
    .checkbox-wrapper *:after {
        box-sizing: inherit;
    }
@media screen and (max-width: 800px) {
    div.container {
        max-width: 90vw;
    }
}
    @media screen and (max-width: 990px) {
        section.hero-section {
            min-height: 60vh;
            max-height: 60vh;
        }
        section.hero-section img {
            width: 40%;
        }
            section.hero-section .welcome-credits {
                align-items: center !important;
            }
        section table div.img {
            min-width: 60px;
            max-width: 60px;
        }
    }
@media screen and (max-width: 1200px) {
    section.hero-section {
        min-height: 65vh;
        max-height: 65vh;
    }
}