@model Cinema.ViewModels.Admin.AdminUserCRUDViewModel

<div class="delete-cinema-form d-flex justify-content-center align-items-center">
    <div class="delete-text d-flex flex-column">
        <h5>Are you sure you want to promote this user?</h5>
        <div class="form-group">
            <div class="active-form flex-column align-items-start">
                <div class="user-container">
                    <i class="fa-solid fa-film input-icon"></i>
                    <span class="px-2">@Model.FullName</span>
                </div>
                <span class="px-2">(@Model.UserName)</span>
            </div>
        </div>
        <button type="button" class="app-content-headerButton bg-success" onclick="promote()">Promote</button>
    </div>
</div>
<script>
    function promote() {
        $.ajax({
            type: "POST",
            url: `/Admin/PromoteToOwner`,
            data: { id: '@Model.Id'},
            success: function (response) {
                window.location.href = response.redirectToUrl;
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>