@model Cinema.Models.ApplicationUser

@{
    ViewData["Title"] = "Delete visitor account";
}
<link href="~/css/adminStyle.css" rel="stylesheet" />
<link href="~/css/cardStyle.css" rel="stylesheet" />
<div class="moviesContainer flex-column front-panel">
    <h1 class="change-header">Are you sure you want to delete the account of the following user?</h1>
    <div class="owner-info">
        <p class="edited-object">User: <b>@string.Format($"{Model.FirstName} {Model.LastName}")</b></p>
    </div>
    <form class="agreement-buttons" asp-controller="Admin" asp-action="DeleteVisitorAccount">
        <button type="submit" class="nx-btn green front-panel" asp-route-id="@Model.Id">Yes</button>
        <a class="nx-btn front-panel" asp-controller="Admin" asp-action="Index">No</a>
    </form>
</div>