<div class="app-content">
    <div class="app-content-header">
        <button class="mode-switch" title="Switch Theme">
            <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
                <defs></defs>
                <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
            </svg>
        </button>
    </div>
    <div style="width: 100%;"><canvas id="registeredByMonth"></canvas></div>
    <div style="width: 100%;"><canvas id="usersGrowth"></canvas></div>
</div>
<script src="~/lib/chart.js/chart.umd.js"></script>
<script src="~/lib/chart.js/chart.umd.min.js"></script>
<script src="~/js/admin-charts.js"></script>
<script src="~/js/ownerdashboard.js"></script>
<script>
    getRegisteredUsersByMonth();
    getUsersGrowth();
</script>