@model Cinema.Data.Models.ApplicationUser

@{
    ViewData["Title"] = "Add owner credentials";
}
<link href="~/css/adminStyle.css" rel="stylesheet" />
<link href="~/css/cardStyle.css" rel="stylesheet" />
<div class="moviesContainer flex-column front-panel">
    <h1 class="change-header">Are you sure you want to make this user owner?</h1>
    <div class="owner-info">
        <p class="edited-object">Name: <b>@string.Format($"{Model.FirstName} {Model.LastName}")</b></p>
    </div>
    <form class="agreement-buttons" asp-controller="Admin" asp-action="SetToOwner">
        <button type="submit" class="nx-btn green front-panel" asp-route-userId="@Model.Id">Yes</button>
        <a class="nx-btn front-panel" asp-controller="Admin" asp-action="Index">No</a>
    </form>
</div>