@model CinemaTic.ViewModels.Admin.ChangeCinemaApprovalStatusViewModel

<div class="delete-cinema-form d-flex justify-content-center align-items-center">
    <div class="delete-text d-flex flex-column">
        <h5>Are you sure you want to change this cinema's approval status?</h5>
        <form asp-controller="Admin" asp-action="ChangeApprovalStatus" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <div class="active-form">
                    <i class="fa-solid fa-film input-icon"></i>
                    <span class="px-2">@Model.Name</span>
                </div>
            </div>
            <select id="status-selector" class="status-selector" name="approvalCode" asp-for="ApprovalCode">
                <option value="@((int)ApprovalStatus.Approved)">Approved</option>
                <option value="@((int)ApprovalStatus.DeniedApproval)">Denied approval</option>
            </select>
            <button type="submit" class="app-content-headerButton bg-primary" asp-controller="Admin" asp-action="ChangeApprovalStatus">Change</button>

            <div class="delete-image form-group mx-0">
                <img src="~/client-images/Cinemas/@Model.ImageUrl" />
            </div>
        </form>
    </div>
</div>