@model CinemaTic.ViewModels.Admin.AdminUserCRUDViewModel

<div class="delete-cinema-form d-flex justify-content-center align-items-center">
    <div class="delete-text d-flex flex-column">
        <h5>Are you sure you want to promote this user?</h5>
        <form asp-controller="Admin" asp-action="PromoteToOwner" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <div class="active-form flex-column align-items-start">
                    <div class="user-container">
                        <i class="fa-solid fa-film input-icon"></i>
                        <span class="px-2">@Model.FullName (@Model.UserName)</span>
                    </div>
                </div>
            </div>
            <button type="submit" class="app-content-headerButton bg-success mt-2" asp-controller="Admin" asp-action="PromoteToOwner">Promote</button>
        </form>
    </div>
</div>