@model CinemaTic.ViewModels.Users.ChangeProfilePictureViewModel

@if (User.IsInRole("Customer"))
{
    <link href="~/css/loginRegisterStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/layoutStyle.css" />

    <partial name="_NavbarPartial" />
    <section class="main-section hero-section">
        <div class="container login-container w-75">
            <h2 class="login-title">Register</h2>
            <form class="login-form" asp-controller="User" asp-action="ChangeProfilePicture" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />
                <div role="list" asp-validation-summary="None" class="text-danger"></div>
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column align-items-center w-50 gap-2">
                        <div class="w-100 mx-auto">
                            <div class="active-form">
                                <label asp-for="@Model.Image"></label>
                                <input id="profile-picture-input" asp-for="@Model.Image" class="form-control" onchange="loadFile(event)" />
                            </div>
                            <span asp-validation-for="@Model.Image" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="temp-img-container d-flex justify-content-center w-75">
                        <img id="tempImg" hidden style="width: 30vh;" />
                    </div>
                </div>
                <button type="submit" class="btn btn--form">Change profile picture</button>
            </form>
        </div>
    </section>
}
else
{
    <link href="~/css/manageStyle.css" rel="stylesheet" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <div class="app-content">
        <div class="app-content-header">
            <h1 class="app-content-headerText">Change profile picture</h1>
            <button class="mode-switch" title="Switch Theme">
                <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
                    <defs></defs>
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                </svg>
            </button>
        </div>
        <div class="create-form">
            <form class="login-form" asp-controller="Customer" asp-action="ChangeProfilePicture" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />
                <div role="list" asp-validation-summary="None" class="text-danger"></div>
                <div class="form-group image-form-group mt-4">
                    <div class="d-flex justify-content-between">
                        <div class="active-form image-upload">
                            <label asp-for="Image" for="image-upload" class="image-upload-box">
                                <i class="upload-text">Upload a new picture</i>
                            </label>
                            <input asp-for="Image" id="image-upload" class="form-control form-style upload-form" onchange="loadFile(event)" />
                        </div>
                        <div class="temp-img-container">
                            <img id="tempImg" hidden />
                        </div>
                    </div>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <button asp-controller="User" asp-action="ChangeProfilePicture" type="submit" class="app-content-headerButton mt-3">Change profile picture</button>
            </form>
        </div>
    </div>
    <script src="~/js/ownerDashboard.js"></script>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
