@model Cinema.Models.ViewModels.CreateEditActorViewModel

@{
    ViewData["Title"] = "Create";
}

<link href="~/css/loginRegisterStyle.css" rel="stylesheet" />
<section class="front-panel">
    <div class="row">
        <h1>Промени актьор @Model.BulgarianFullName</h1>
        <div class="col-md-4">
            <form class="account" enctype="multipart/form-data" asp-controller="Actors" asp-action="Edit" method="post">
                <hr class="section-line" />
                <div class="text-fields">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control" />
                        </div>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" />
                        </div>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="BulgarianFullName"></label>
                            <input asp-for="BulgarianFullName" class="form-control" />
                        </div>
                        <span asp-validation-for="BulgarianFullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="Nationality"></label>
                            <select asp-for="Nationality" asp-items="@ViewBag.Countries" name="country" class="form-control"></select>
                        </div>
                        <span asp-validation-for="Nationality" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="Birthdate"></label>
                            <input asp-for="Birthdate" type="date" class="form-control" />
                        </div>
                        <span asp-validation-for="Birthdate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="Rating"></label>
                            <input asp-for="Rating" class="form-control" />
                        </div>
                        <span asp-validation-for="Rating" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="Image"></label>
                            <input asp-for="Image" class="form-control" />
                        </div>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" asp-route-id="@Model.Id" class="nx-btn primary">Промени</button>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
