@model IEnumerable<Cinema.Models.Actor>

@{
    ViewData["Title"] = "Актьори";
}

<link rel="stylesheet" href="~/css/cardStyle.css" />
<section class="front-panel">
    <h1 data-content="Actors" style="margin-bottom: 20px;">Актьори</h1>
    <a class="nx-btn front-panel" asp-controller="Actors" asp-action="Create">Добави нов актьор</a>
    <div class="moviesContainer left-align">
        @foreach (var actor in Model)
        {
            <div class="card-wrapper card-wrapper-actors">
                <div class="card">
                    <img src="~/@Cinema.Utilities.Constants.ImagesFolder/Actors/@actor.ImageUrl" />
                    <div class="descriptions">
                        <div class="description-buttons">
                            <a class="desc-button" asp-controller="Actors" asp-action="Details" asp-route-id="@actor.Id">
                                <i class="fa-solid fa-circle-info f-size-b"></i>
                            </a>
                            <a class="desc-button" asp-controller="Actors" asp-action="Delete" asp-route-id="@actor.Id">
                                <i class="fa-solid fa-xmark f-size-b"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <p class="actor-name">@actor.BulgarianFullName</p>
            </div>
        }
    </div>
</section>
<script>
    document.getElementsByClassName("layout-centered-container")[0].classList.add("h-width");
</script>